* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    background-image: url("Background.png");
}
#mainblock {
    width: 900px;
    height: 800px;
    border: 2px, solid, #fff;
    background-color: black;
    text-align: center;
    margin: auto;
    display: block;
}
#alllists {
    border-top: 2px;
    border-top-color: #fff;
    border-top-style: solid;
    display: flex;
    justify-content: center;
}
#block {
    border-top: 2px;
    border-top-color: #fff;
    border-top-style: solid;
}
.biography {
    text-align: right;
}
.me {
    margin-left: 25px;
    float: left;
}
.info {
    width: 890px;
}
.lists {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    text-align: 0;
}
.list {
    margin: 0 10px;
    float: left;
}
.list a {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-family: 'Anton', serif;
}
.list a:hover {
    text-decoration: underline;
}
h1 {
    color: #fff;
    font-size: 40px;
    padding: 20px;
    font-family: 'Anton', serif;
}
h2 {
    color: #fff;
    font-size: 50px;
    font-family: 'Cormorant';
}
h3 {
    color: #808080;
    font-size: 20px;
}
p {
    color: #fff;
    font-size: 20px;
    font-family: 'Anton', serif;
}